<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BibleReading.Common45.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="BibleReading.DAL.Properties.Settings.ConnectionString"
        connectionString="Data Source=.;Initial Catalog=BibleReading;User Id=sa;Password=M@gg130907**@Family;MultipleActiveResultSets=True;" />
  </connectionStrings>

  <appSettings>
    <add key="PlannedReadingTime" value="20"/>
  </appSettings>
  
  <applicationSettings>
    <BibleReading.Common45.Properties.Settings>
      <setting name="TransactionTimeout" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="EventLogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mail_Type" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Mail_Server" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mail_Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mail_Ssl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mail_AsyncEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mail_SendUsing" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mail_Domain" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mail_User" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mail_Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mail_From_Email" serializeAs="String">
        <value/>
      </setting>
      <setting name="Mail_From_Name" serializeAs="String">
        <value/>
      </setting>
      <setting name="SevenFast_Common35_wsLicense_License" serializeAs="String">
        <value></value>
      </setting>
      <setting name="License_SessionRefreshTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="License_SessionRefreshTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="License_SessionRefreshTimeoutTolerance" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="License_BugEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="License_BugSubject" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyIP" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyDoor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value/>
      </setting>
      <setting name="SerializationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerializationPath" serializeAs="String">
        <value/>
      </setting>
    </BibleReading.Common45.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
